/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@media screen and (max-width:414px) {
    body{
		background: rgb(31, 31, 31);
	}
	.header{
		position: absolute;
		margin: 0px;
		height: 100px;
		width: 100%;
		background: rgb(255, 209, 209);
		
	}
	.backhead{
		margin-top: 20px;
		background-color: rgb(255, 209, 209);;
	}

	h1{
		font-family: 'Poppins', serif;
		color: rgb(255, 160, 168);
		text-align: center;
		font-size: 60px;
		font-weight: 700;
	}
	ul{

		padding-top: 50px;
		display: flex;
		justify-content: center;
		list-style: none;
	}
	li a{
		color: white;
		font-family: 'Poppins', serif;
		margin: 20px;
	}
	a:active{
		border-bottom: 2px solid white;
	}
	.genres{

	}


}